.header {
  background-color: #0081b4;

  .header-logo {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: bold;

    h1 {
      color: white;
      margin: 0;
    }
  }

  .header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px;
  }

  .header-search {
    padding: 20px;
    margin-right: 10px;

    .search {
      margin-right: 4px;
      border: none;
      border-radius: 4px;
      padding: 7px;
    }
  }
}
